{
  "extends": "react-app",
  "rules": {
    "semi": ["warn", "always"],
    "comma-dangle": ["warn", "always-multiline"],
    "react/jsx-curly-spacing": [2, "never", {
      "children": true
    }]
  },
  "globals": {
    "self": true
  }
}
