.TabBar {
  position: fixed;
  z-index: 999;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: $tab-bar-height 1fr;
  width: 100%;
  max-width: $container-width;
  background: $white;
  box-shadow: $shadow-default;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    color: $secondary;
    text-transform: capitalize;
    text-align: center;

    &--active {
      svg {
        color: $primary;
      }
    }
  }

  &__text {
    color: $dark-grey;
    font-size: 12px;
    text-align: center;
  }
}
