@import './styles/base/reset';
@import './styles/base/layout';
@import './styles/base/fonts';


.offline-status {
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.2s;

  &--visible {
    opacity: 1;
    transform: none;
  }
}
