$background: #F8FBFD;
$mint: #EEF5F7;
$white: #FFF;
$grey: #ECECEC;
$dark-grey: #595959;
$black: #000;
$starry: #EFBF6C;

$text: #A6A6AE;
$text-distinguished: $black;

$primary: #CFB489;
$primary-light: lighten($primary, 22%);
$secondary: #8E8E93;
$secondary-light: lighten($secondary, 15%);

$border-color: #F0F0F0;
$shadow: rgba(#272727, .5);
$shadow-light: rgba($black, .1);
