$lg: 480px;

$screen-sm: 'only screen and (max-width: #{$lg})';
$screen-lg: 'only screen and (min-width: #{$lg + 1})';

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  background: $mint;
}

.container {
  position: relative;
  min-height: 100%;
  max-width: $container-width;
  margin: 0 auto;
  background-color: $background;

  > div > * {
    //position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.ItemShow {
  z-index: 100;
  background: #fff;

  &.fade-enter,
  &.fade-exit {
    position: fixed;
    transition: 200ms;
  }

  &.fade-enter {
    opacity: 0;
    transform: translateX(100%);
  }

  &.fade-enter.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
  }

  &.fade-exit {
    opacity: 1;
    transform: translateX(0);
  }

  &.fade-exit.fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
  }
}
